@mixin button-base {
  font-family: "OpenSans";
  font-size: $font-size-xs;
  border: none;
  cursor: pointer;
  &:disabled {
    background: gray;
  }
}

button {
  @include button-base;
}

.selection-box {
  display: block;
  font-size: $font-size-l;
  background: $background-light;
  border: 0.1rem solid $border-gray;
  margin-top: 2rem;
  padding: 1.5rem 2rem 2rem 1.5rem;
}

.selection-content {
  text-align: left;
  border: none;
  margin: 0;
  padding: 0;
}

.details-header {
  font-size: $font-size-l;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

.error {
  font-family: "TitilliumWeb";
  font-size: $font-size-l;
  color: $text-warn;
}

.warn-border {
  border: 0.1rem solid $border-warn;
}

.download-button {
  font-family: "TitilliumWeb";
  font-weight: bold;
  font-size: $font-size-l;
  letter-spacing: 0.05rem;
  color: $text-white;
  padding: 0 2rem 0 2rem;
  height: 3.5rem;
  background: $background-dark-blue;
  box-shadow: 0 0.2rem 0 $border-shadow;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  &:not(:disabled):hover {
    background: $background-blue-hover;
  }
  &:focus {
    outline-color: $border-red;
  }
}

.info-paragraph {
  text-align: left;
  padding: 1rem 2rem 1rem 2rem;
  border: 2px solid $border-red;
  margin-bottom: 1.5rem;
  white-space: pre-line;
}

img {
  height: 100%;
  width: auto;
}

.error-notification {
  position: fixed;
  padding: 1rem;
  background: $border-warn;
  color: #fff;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
}

label {
  font-size: 1.20rem; // if increased, check that water quality options still fit (in English) 
}
