@font-face {
  font-family: "TitilliumWeb";
  src: url("@/assets/fonts/titillium-web-v8-latin-regular.woff") format("woff"),
    url("@/assets/fonts/titillium-web-v8-latin-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("@/assets/fonts/open-sans-v17-latin-regular.woff") format("woff"),
    url("@/assets/fonts/open-sans-v17-latin-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
