//colors
$background-light: #F5F6FA;
$background-light-hover: #C9CDD1;
$background-blue: #095B9D;
$background-blue-hover: #074679;
$background-info: #FF7300;
$background-info-hover: #EB6A00; 
$background-remove: #60676E;
$background-remove-hover: #3F4A52;

$disabled: gray;

$text-dark: #000000;
$text-white: #FFFFFF;

$border-light: #D9E1E6;
$border-dark: #052D4D;
$border-gray: #C5CCD0;

//font settings
$font-size-l: 1.2rem;
$font-size-m: 0.9rem;
