//colors
$background-light: #F5F6FA;
$background-light-hover: #C9CDD1;
$background-blue: #095B9D;
$background-blue-hover: #074679;
$background-info: #FF7300;
$background-info-hover: #EB6A00; 
$background-remove: #60676E;
$background-remove-hover: #3F4A52;

$disabled: gray;

$text-dark: #000000;
$text-white: #FFFFFF;
$text-warn: #CC0000;

$border-light: #D9E1E6;
$border-dark: #052D4D;
$border-gray: #C5CCD0;
$border-shadow: #1B3447;
$border-warn: #CC0000;
$border-focus: #FF7300;

//font settings
$font-size-l: 1.2rem;
$font-size-m: 1rem;
$font-size-s: 0.9rem;
