$content-width: 65rem;

//colors
$background-light: #f5f6fa;
$background-light-hover: #c9cdd1;
$background-blue: #095b9d;
$background-dark-blue: #074679;
$background-blue-hover: #052d4d;
$background-bright-blue: #0074d0;
$background-info: #c81740;
$background-info-hover: #9a1231;
$background-remove: #60676e;
$background-remove-hover: #3f4a52;

$disabled: gray;

$text-dark: #000000;
$text-white: #ffffff;
$text-warn: #cc0000;

$border-light: #d9e1e6;
$border-dark: #052d4d;
$border-gray: #c5ccd0;
$border-shadow: #1b3447;
$border-warn: #cc0000;
$border-red: #c81740;
$border-divide: #c9cdd1;

//font settings
$font-size-xxl: 2.625rem;
$font-size-xl: 1.9rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: 0.875rem;
